extends layout
block content
 h1= title
 - let items = results;
   each item in items
    - let destination = `dispatch("/shoes/update?id=${item._id}")`
      div
       p shoes_color  - #{item.shoes_color}
       p shoes_type  - #{item.shoes_type}       
       p shoes_price - #{item.shoes_price}
       button.btn( class="btn-primary ml-1", onclick= destination) Update
       br
       br
 script.
  function dispatch(path){
   window.location.href=path
  }