extends layout

block content
  h1= title
  - let shoesid = toShow._id
  - let shoes_colour = toShow.shoes_colour
  - let shoes_type = toShow.shoes_type
  - let shoes_price = toShow.shoes_price

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{shoesid}

  - let actionid = "/resource/shoes/" + shoesid
  form(id='shoesForm', action=actionid, method="PUT")
    div.form-group
      label.shoesAttr(for='shoes_colour') shoes colour
      input#shoes_colour(type='text', name='shoes_colour', value=shoes_colour)
    div.form-group
      label.shoesAttr(for='shoes_type') shoes type
      input#shoes_type(type='text', name='shoes_type', value=shoes_type)
    div.form-group
      label.shoesAttr(for='shoes_price') shoes price
      input#shoes_price(type='number', name='shoes_price', value=shoes_price)
    input(type="submit")

  script.
    document.forms['shoesForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error)
      });
    });
